<div class="col-md-6 offset-md-3 login-form">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Edit <%= resource_name.to_s.humanize %></h3>
    </div>

    <div class="card-block">
      <%= form_for(resource, as: resource_name, url:registration_path(resource_name), html: { method: :put}) do |f| %>

      <%= devise_error_messages! %>
      <fieldset>
        <div class="form-group">
          <div class="input-group-addon"><i class="fa fa-user"></i>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <div class="input-group-addon"><i class="fa fa-lock"></i>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
            <i>(leave blank if you don't want to change it)</i>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group-addon"><i class="fa fa-lock"></i>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group-addon"><i class="fa fa-lock"></i>
            <%= f.label :current_password %><i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
        </div>

        <%= f.submit "Update", class: "btm btn-lg btn-success btn-block" %>
      </fieldset>
      <% end %>
    </div>

    <div class="card-header">
      <h3 class="card-title">Cancel my account</h3>
    </div>
    <div class="card-block">
      <p>Unhappy?
        <%#= f.submit "Cancel my account", class: "btm btn-lg btn-success btn-block" %>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btm btn-lg btn-danger btn-block' %>
      </p>
    </div>

    <%#= link_to "Back", :back %>
  </div>
</div>
